.sidebarHeader {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(82,38,83);
    border-bottom: 1px solid rgb(82,38,83);
    font-size: 0.6rem;
    padding: 13px 16px;
    align-items: center;
    margin-bottom: 7px;
    h2 {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .iconBox {
        background-color: #FFFFFF;
        color: #3F0E40;
        fill: #3F0E40;
        box-shadow: 0 1px 3px rgba(0,0,0,.08);
        border-radius: 18px;
        height: 36px;
        width: 36px;
        height: 36px;
        width: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .editIcon {
            height: 16px;
            width: 16px;
        }
    }
}